<!DOCTYPE html>
<html>
<head>
  <title>Play!</title>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'game/init' %>
  <script type="text/javascript">
    window.assets = window.assets || {};
    window.assets.images = <%= raw(image_assets.to_json) %>;
    window.addEventListener('load', window.initGlobal8Ball, false);
  </script>
  <style type="text/css">
    #da-game {
      height:600px;
      width:800px;
    }
  </style>
</head>
<body>

<div id="da-game"></div>

</body>
</html>
