<!DOCTYPE html>
<html>
<head>
  <title>Play!</title>
  <%= javascript_include_tag 'game/phaser.min' %>
  <%= javascript_include_tag 'game/game' %>
  <script type="text/javascript">
    window.assets = window.assets || {};
    window.assets.images = <%= raw(image_assets.to_json) %>;
    window.addEventListener('load', window.initGlobal8Ball, false);
  </script>
</head>
<body>

<div id="da-game"></div>

</body>
</html>
