/* ============================================================
  Standard elements
============================================================ */
body {
  background-image: linear-gradient(#eee, #ddd);
  color: #222;
  font-family: 'Montserrat', sans-serif;
}
hr {
  border-color: #888;
}
footer {
  margin-top: 14vh;
  margin-bottom: 2vh;
  padding: 0 15px;
}
/* ============================================================
  Standard bootstrap-classes
============================================================ */
.row {
  margin: 0px;
}
.modal {
    color: #121212;
}
/* ============================================================
  Container-classes
============================================================ */
.logos {
  background-image: radial-gradient(#FAE672, #867724);
  min-height: 100vh;
  text-align: center;
}
.logos h1 {
  color: #111;
}
.content {
  min-height: 20vh;
  padding-top: 8vh;
}
.content h1,h2,h3 {
  text-align: center;
}
/* ============================================================
  My classes
============================================================ */
.logo {
  text-align: center;
}
.logo h2 {
   color: #b2b2b2;
}
.our_logo {
  padding: 2vh 3%
}
.langFlag {
  height: 30px;
}
.prize {
  text-align: right;
}
